@font-face {
  font-display: block;
  font-family: "quantum-symbols";
  src: url("./fonts/quantum-symbols.woff2?0115b2541edc2bbe14f96a9f8ef6eed1") format("woff2"),
url("./fonts/quantum-symbols.woff?0115b2541edc2bbe14f96a9f8ef6eed1") format("woff");
}

.sym::before,
[class^="sym-"]::before,
[class*=" sym-"]::before {
  display: inline-block;
  font-family: quantum-symbols !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.15em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sym-activity-solid::before { content: "\f101"; }
.sym-activity::before { content: "\f102"; }
.sym-airplay-solid::before { content: "\f103"; }
.sym-airplay::before { content: "\f104"; }
.sym-alarm-clock-plus-solid::before { content: "\f105"; }
.sym-alarm-clock-plus::before { content: "\f106"; }
.sym-alarm-clock-solid::before { content: "\f107"; }
.sym-alarm-clock::before { content: "\f108"; }
.sym-alert-circle-solid::before { content: "\f109"; }
.sym-alert-circle::before { content: "\f10a"; }
.sym-alert-octagon-solid::before { content: "\f10b"; }
.sym-alert-octagon::before { content: "\f10c"; }
.sym-alert-triangle-solid::before { content: "\f10d"; }
.sym-alert-triangle::before { content: "\f10e"; }
.sym-align-bottom-solid::before { content: "\f10f"; }
.sym-align-bottom::before { content: "\f110"; }
.sym-align-center-solid::before { content: "\f111"; }
.sym-align-center::before { content: "\f112"; }
.sym-align-horizontal-center-solid::before { content: "\f113"; }
.sym-align-horizontal-center::before { content: "\f114"; }
.sym-align-justify-solid::before { content: "\f115"; }
.sym-align-justify::before { content: "\f116"; }
.sym-align-left-02-solid::before { content: "\f117"; }
.sym-align-left-02::before { content: "\f118"; }
.sym-align-left-solid::before { content: "\f119"; }
.sym-align-left::before { content: "\f11a"; }
.sym-align-right-02-solid::before { content: "\f11b"; }
.sym-align-right-02::before { content: "\f11c"; }
.sym-align-right-solid::before { content: "\f11d"; }
.sym-align-right::before { content: "\f11e"; }
.sym-align-top-arrow-solid::before { content: "\f11f"; }
.sym-align-top-arrow::before { content: "\f120"; }
.sym-align-vertical-center-solid::before { content: "\f121"; }
.sym-align-vertical-center::before { content: "\f122"; }
.sym-annotation-alert-solid::before { content: "\f123"; }
.sym-annotation-alert::before { content: "\f124"; }
.sym-annotation-check-solid::before { content: "\f125"; }
.sym-annotation-check::before { content: "\f126"; }
.sym-annotation-info-solid::before { content: "\f127"; }
.sym-annotation-info::before { content: "\f128"; }
.sym-annotation-solid::before { content: "\f129"; }
.sym-annotation::before { content: "\f12a"; }
.sym-announcement-02-solid::before { content: "\f12b"; }
.sym-announcement-02::before { content: "\f12c"; }
.sym-announcement-solid::before { content: "\f12d"; }
.sym-announcement::before { content: "\f12e"; }
.sym-archive-solid::before { content: "\f12f"; }
.sym-archive::before { content: "\f130"; }
.sym-arrow-circle-down-left-solid::before { content: "\f131"; }
.sym-arrow-circle-down-left::before { content: "\f132"; }
.sym-arrow-circle-down-right-solid::before { content: "\f133"; }
.sym-arrow-circle-down-right::before { content: "\f134"; }
.sym-arrow-circle-down-solid::before { content: "\f135"; }
.sym-arrow-circle-down::before { content: "\f136"; }
.sym-arrow-circle-left-solid::before { content: "\f137"; }
.sym-arrow-circle-left::before { content: "\f138"; }
.sym-arrow-circle-right-solid::before { content: "\f139"; }
.sym-arrow-circle-right::before { content: "\f13a"; }
.sym-arrow-circle-up-left-solid::before { content: "\f13b"; }
.sym-arrow-circle-up-left::before { content: "\f13c"; }
.sym-arrow-circle-up-right-solid::before { content: "\f13d"; }
.sym-arrow-circle-up-right::before { content: "\f13e"; }
.sym-arrow-circle-up-solid::before { content: "\f13f"; }
.sym-arrow-circle-up::before { content: "\f140"; }
.sym-arrow-down-02-solid::before { content: "\f141"; }
.sym-arrow-down-02::before { content: "\f142"; }
.sym-arrow-down-left-solid::before { content: "\f143"; }
.sym-arrow-down-left::before { content: "\f144"; }
.sym-arrow-down-right-solid::before { content: "\f145"; }
.sym-arrow-down-right::before { content: "\f146"; }
.sym-arrow-down-solid::before { content: "\f147"; }
.sym-arrow-down::before { content: "\f148"; }
.sym-arrow-left-02-solid::before { content: "\f149"; }
.sym-arrow-left-02::before { content: "\f14a"; }
.sym-arrow-left-solid::before { content: "\f14b"; }
.sym-arrow-left::before { content: "\f14c"; }
.sym-arrow-narrow-down-left-solid::before { content: "\f14d"; }
.sym-arrow-narrow-down-left::before { content: "\f14e"; }
.sym-arrow-narrow-down-right-solid::before { content: "\f14f"; }
.sym-arrow-narrow-down-right::before { content: "\f150"; }
.sym-arrow-narrow-down-solid::before { content: "\f151"; }
.sym-arrow-narrow-down::before { content: "\f152"; }
.sym-arrow-narrow-left-solid::before { content: "\f153"; }
.sym-arrow-narrow-left::before { content: "\f154"; }
.sym-arrow-narrow-right-solid::before { content: "\f155"; }
.sym-arrow-narrow-right::before { content: "\f156"; }
.sym-arrow-narrow-up-left-solid::before { content: "\f157"; }
.sym-arrow-narrow-up-left::before { content: "\f158"; }
.sym-arrow-narrow-up-right-solid::before { content: "\f159"; }
.sym-arrow-narrow-up-right::before { content: "\f15a"; }
.sym-arrow-narrow-up-solid::before { content: "\f15b"; }
.sym-arrow-narrow-up::before { content: "\f15c"; }
.sym-arrow-right-02-solid::before { content: "\f15d"; }
.sym-arrow-right-02::before { content: "\f15e"; }
.sym-arrow-right-solid::before { content: "\f15f"; }
.sym-arrow-right::before { content: "\f160"; }
.sym-arrow-up-02-solid::before { content: "\f161"; }
.sym-arrow-up-02::before { content: "\f162"; }
.sym-arrow-up-left-solid::before { content: "\f163"; }
.sym-arrow-up-left::before { content: "\f164"; }
.sym-arrow-up-right-solid::before { content: "\f165"; }
.sym-arrow-up-right::before { content: "\f166"; }
.sym-arrow-up-solid::before { content: "\f167"; }
.sym-arrow-up::before { content: "\f168"; }
.sym-asterisk-solid::before { content: "\f169"; }
.sym-asterisk::before { content: "\f16a"; }
.sym-at-sign-solid::before { content: "\f16b"; }
.sym-at-sign::before { content: "\f16c"; }
.sym-atom-solid::before { content: "\f16d"; }
.sym-atom::before { content: "\f16e"; }
.sym-attachment-02-solid::before { content: "\f16f"; }
.sym-attachment-02::before { content: "\f170"; }
.sym-attachment-solid::before { content: "\f171"; }
.sym-attachment::before { content: "\f172"; }
.sym-award-02-solid::before { content: "\f173"; }
.sym-award-02::before { content: "\f174"; }
.sym-award-03-solid::before { content: "\f175"; }
.sym-award-03::before { content: "\f176"; }
.sym-award-04-solid::before { content: "\f177"; }
.sym-award-04::before { content: "\f178"; }
.sym-award-solid::before { content: "\f179"; }
.sym-award::before { content: "\f17a"; }
.sym-backpack-solid::before { content: "\f17b"; }
.sym-backpack::before { content: "\f17c"; }
.sym-bank-note-02-solid::before { content: "\f17d"; }
.sym-bank-note-02::before { content: "\f17e"; }
.sym-bank-note-03-solid::before { content: "\f17f"; }
.sym-bank-note-03::before { content: "\f180"; }
.sym-bank-note-solid::before { content: "\f181"; }
.sym-bank-note::before { content: "\f182"; }
.sym-bank-solid::before { content: "\f183"; }
.sym-bank::before { content: "\f184"; }
.sym-battery-charging-solid::before { content: "\f185"; }
.sym-battery-charging::before { content: "\f186"; }
.sym-battery-empty-solid::before { content: "\f187"; }
.sym-battery-empty::before { content: "\f188"; }
.sym-battery-full-solid::before { content: "\f189"; }
.sym-battery-full::before { content: "\f18a"; }
.sym-battery-low-solid::before { content: "\f18b"; }
.sym-battery-low::before { content: "\f18c"; }
.sym-battery-mid-solid::before { content: "\f18d"; }
.sym-battery-mid::before { content: "\f18e"; }
.sym-beaker-solid::before { content: "\f18f"; }
.sym-beaker::before { content: "\f190"; }
.sym-bell-02-solid::before { content: "\f191"; }
.sym-bell-02::before { content: "\f192"; }
.sym-bell-off-02-solid::before { content: "\f193"; }
.sym-bell-off-02::before { content: "\f194"; }
.sym-bell-off-solid::before { content: "\f195"; }
.sym-bell-off::before { content: "\f196"; }
.sym-bell-plus-solid::before { content: "\f197"; }
.sym-bell-plus::before { content: "\f198"; }
.sym-bell-ringing-solid::before { content: "\f199"; }
.sym-bell-ringing::before { content: "\f19a"; }
.sym-bell-solid::before { content: "\f19b"; }
.sym-bell::before { content: "\f19c"; }
.sym-bluetooth-off-solid::before { content: "\f19d"; }
.sym-bluetooth-off::before { content: "\f19e"; }
.sym-bluetooth-on-solid::before { content: "\f19f"; }
.sym-bluetooth-on::before { content: "\f1a0"; }
.sym-bold-solid::before { content: "\f1a1"; }
.sym-bold::before { content: "\f1a2"; }
.sym-book-closed-solid::before { content: "\f1a3"; }
.sym-book-closed::before { content: "\f1a4"; }
.sym-book-open-solid::before { content: "\f1a5"; }
.sym-book-open::before { content: "\f1a6"; }
.sym-bookmark-add-solid::before { content: "\f1a7"; }
.sym-bookmark-add::before { content: "\f1a8"; }
.sym-bookmark-check-solid::before { content: "\f1a9"; }
.sym-bookmark-check::before { content: "\f1aa"; }
.sym-bookmark-minus-solid::before { content: "\f1ab"; }
.sym-bookmark-minus::before { content: "\f1ac"; }
.sym-bookmark-solid::before { content: "\f1ad"; }
.sym-bookmark::before { content: "\f1ae"; }
.sym-box-solid::before { content: "\f1af"; }
.sym-box::before { content: "\f1b0"; }
.sym-brackets-solid::before { content: "\f1b1"; }
.sym-brackets::before { content: "\f1b2"; }
.sym-briefcase-solid::before { content: "\f1b3"; }
.sym-briefcase::before { content: "\f1b4"; }
.sym-browser-solid::before { content: "\f1b5"; }
.sym-browser::before { content: "\f1b6"; }
.sym-brush-solid::before { content: "\f1b7"; }
.sym-brush::before { content: "\f1b8"; }
.sym-building-02-solid::before { content: "\f1b9"; }
.sym-building-02::before { content: "\f1ba"; }
.sym-building-03-solid::before { content: "\f1bb"; }
.sym-building-03::before { content: "\f1bc"; }
.sym-building-04-solid::before { content: "\f1bd"; }
.sym-building-04::before { content: "\f1be"; }
.sym-building-05-solid::before { content: "\f1bf"; }
.sym-building-05::before { content: "\f1c0"; }
.sym-building-06-solid::before { content: "\f1c1"; }
.sym-building-06::before { content: "\f1c2"; }
.sym-building-07-solid::before { content: "\f1c3"; }
.sym-building-07::before { content: "\f1c4"; }
.sym-building-08-solid::before { content: "\f1c5"; }
.sym-building-08::before { content: "\f1c6"; }
.sym-building-solid::before { content: "\f1c7"; }
.sym-building::before { content: "\f1c8"; }
.sym-calculator-solid::before { content: "\f1c9"; }
.sym-calculator::before { content: "\f1ca"; }
.sym-calendar-check-solid::before { content: "\f1cb"; }
.sym-calendar-check::before { content: "\f1cc"; }
.sym-calendar-date-solid::before { content: "\f1cd"; }
.sym-calendar-date::before { content: "\f1ce"; }
.sym-camera-lens-solid::before { content: "\f1cf"; }
.sym-camera-lens::before { content: "\f1d0"; }
.sym-camera-off-solid::before { content: "\f1d1"; }
.sym-camera-off::before { content: "\f1d2"; }
.sym-camera-plus-solid::before { content: "\f1d3"; }
.sym-camera-plus::before { content: "\f1d4"; }
.sym-camera-solid::before { content: "\f1d5"; }
.sym-camera::before { content: "\f1d6"; }
.sym-certificate-solid::before { content: "\f1d7"; }
.sym-certificate::before { content: "\f1d8"; }
.sym-check-circle-broken-solid::before { content: "\f1d9"; }
.sym-check-circle-broken::before { content: "\f1da"; }
.sym-check-circle-solid::before { content: "\f1db"; }
.sym-check-circle::before { content: "\f1dc"; }
.sym-check-solid::before { content: "\f1dd"; }
.sym-check-square-broken-solid::before { content: "\f1de"; }
.sym-check-square-broken::before { content: "\f1df"; }
.sym-check-square-empty-solid::before { content: "\f1e0"; }
.sym-check-square-empty::before { content: "\f1e1"; }
.sym-check-square-solid::before { content: "\f1e2"; }
.sym-check-square::before { content: "\f1e3"; }
.sym-check-verified-02-solid::before { content: "\f1e4"; }
.sym-check-verified-02::before { content: "\f1e5"; }
.sym-check-verified-solid::before { content: "\f1e6"; }
.sym-check-verified::before { content: "\f1e7"; }
.sym-check::before { content: "\f1e8"; }
.sym-chevron-down-double-solid::before { content: "\f1e9"; }
.sym-chevron-down-double::before { content: "\f1ea"; }
.sym-chevron-down-solid::before { content: "\f1eb"; }
.sym-chevron-down::before { content: "\f1ec"; }
.sym-chevron-left-double-solid::before { content: "\f1ed"; }
.sym-chevron-left-double::before { content: "\f1ee"; }
.sym-chevron-left-solid::before { content: "\f1ef"; }
.sym-chevron-left::before { content: "\f1f0"; }
.sym-chevron-right-double-solid::before { content: "\f1f1"; }
.sym-chevron-right-double::before { content: "\f1f2"; }
.sym-chevron-right-solid::before { content: "\f1f3"; }
.sym-chevron-right::before { content: "\f1f4"; }
.sym-chevron-selector-horizontal-solid::before { content: "\f1f5"; }
.sym-chevron-selector-horizontal::before { content: "\f1f6"; }
.sym-chevron-selector-vertical-solid::before { content: "\f1f7"; }
.sym-chevron-selector-vertical::before { content: "\f1f8"; }
.sym-chevron-up-double-solid::before { content: "\f1f9"; }
.sym-chevron-up-double::before { content: "\f1fa"; }
.sym-chevron-up-solid::before { content: "\f1fb"; }
.sym-chevron-up::before { content: "\f1fc"; }
.sym-chrome-cast-solid::before { content: "\f1fd"; }
.sym-chrome-cast::before { content: "\f1fe"; }
.sym-circle-cut-solid::before { content: "\f1ff"; }
.sym-circle-cut::before { content: "\f200"; }
.sym-clipboard-check-solid::before { content: "\f201"; }
.sym-clipboard-check::before { content: "\f202"; }
.sym-clipboard-download-solid::before { content: "\f203"; }
.sym-clipboard-download::before { content: "\f204"; }
.sym-clipboard-solid::before { content: "\f205"; }
.sym-clipboard::before { content: "\f206"; }
.sym-clock-check-solid::before { content: "\f207"; }
.sym-clock-check::before { content: "\f208"; }
.sym-clock-fast-forward-solid::before { content: "\f209"; }
.sym-clock-fast-forward::before { content: "\f20a"; }
.sym-clock-plus-solid::before { content: "\f20b"; }
.sym-clock-plus::before { content: "\f20c"; }
.sym-clock-refresh-solid::before { content: "\f20d"; }
.sym-clock-refresh::before { content: "\f20e"; }
.sym-clock-rewind-solid::before { content: "\f20f"; }
.sym-clock-rewind::before { content: "\f210"; }
.sym-clock-solid::before { content: "\f211"; }
.sym-clock-stopwatch-solid::before { content: "\f212"; }
.sym-clock-stopwatch::before { content: "\f213"; }
.sym-clock::before { content: "\f214"; }
.sym-cloud-blank-solid::before { content: "\f215"; }
.sym-cloud-blank::before { content: "\f216"; }
.sym-code-02-solid::before { content: "\f217"; }
.sym-code-02::before { content: "\f218"; }
.sym-code-browser-solid::before { content: "\f219"; }
.sym-code-browser::before { content: "\f21a"; }
.sym-code-solid::before { content: "\f21b"; }
.sym-code::before { content: "\f21c"; }
.sym-coins-solid::before { content: "\f21d"; }
.sym-coins::before { content: "\f21e"; }
.sym-colors-solid::before { content: "\f21f"; }
.sym-colors::before { content: "\f220"; }
.sym-columns-02-solid::before { content: "\f221"; }
.sym-columns-02::before { content: "\f222"; }
.sym-columns-03-solid::before { content: "\f223"; }
.sym-columns-03::before { content: "\f224"; }
.sym-columns-solid::before { content: "\f225"; }
.sym-columns::before { content: "\f226"; }
.sym-command-solid::before { content: "\f227"; }
.sym-command::before { content: "\f228"; }
.sym-compass-02-solid::before { content: "\f229"; }
.sym-compass-02::before { content: "\f22a"; }
.sym-compass-solid::before { content: "\f22b"; }
.sym-compass::before { content: "\f22c"; }
.sym-copy-solid::before { content: "\f22d"; }
.sym-copy::before { content: "\f22e"; }
.sym-credit-card-solid::before { content: "\f22f"; }
.sym-credit-card::before { content: "\f230"; }
.sym-crop-solid::before { content: "\f231"; }
.sym-crop::before { content: "\f232"; }
.sym-cryptocurrency-solid::before { content: "\f233"; }
.sym-cryptocurrency::before { content: "\f234"; }
.sym-currency-bitcoin-solid::before { content: "\f235"; }
.sym-currency-bitcoin::before { content: "\f236"; }
.sym-currency-dollar-solid::before { content: "\f237"; }
.sym-currency-dollar::before { content: "\f238"; }
.sym-currency-euro-solid::before { content: "\f239"; }
.sym-currency-euro::before { content: "\f23a"; }
.sym-currency-pound-solid::before { content: "\f23b"; }
.sym-currency-pound::before { content: "\f23c"; }
.sym-currency-ruble-solid::before { content: "\f23d"; }
.sym-currency-ruble::before { content: "\f23e"; }
.sym-currency-rupee-solid::before { content: "\f23f"; }
.sym-currency-rupee::before { content: "\f240"; }
.sym-currency-rupiah-solid::before { content: "\f241"; }
.sym-currency-rupiah::before { content: "\f242"; }
.sym-currency-yen-solid::before { content: "\f243"; }
.sym-currency-yen::before { content: "\f244"; }
.sym-cursor-box-solid::before { content: "\f245"; }
.sym-cursor-box::before { content: "\f246"; }
.sym-cursor-click-solid::before { content: "\f247"; }
.sym-cursor-click::before { content: "\f248"; }
.sym-cursor-solid::before { content: "\f249"; }
.sym-cursor::before { content: "\f24a"; }
.sym-database-solid::before { content: "\f24b"; }
.sym-database::before { content: "\f24c"; }
.sym-delete-solid::before { content: "\f24d"; }
.sym-delete::before { content: "\f24e"; }
.sym-diamond-02-solid::before { content: "\f24f"; }
.sym-diamond-02::before { content: "\f250"; }
.sym-diamond-solid::before { content: "\f251"; }
.sym-diamond::before { content: "\f252"; }
.sym-distribute-spacing-horizontal-solid::before { content: "\f253"; }
.sym-distribute-spacing-horizontal::before { content: "\f254"; }
.sym-distribute-spacing-vertical-solid::before { content: "\f255"; }
.sym-distribute-spacing-vertical::before { content: "\f256"; }
.sym-divide-solid::before { content: "\f257"; }
.sym-divide::before { content: "\f258"; }
.sym-divider-solid::before { content: "\f259"; }
.sym-divider::before { content: "\f25a"; }
.sym-dotpoints-solid::before { content: "\f25b"; }
.sym-dotpoints::before { content: "\f25c"; }
.sym-dots-grid-02-solid::before { content: "\f25d"; }
.sym-dots-grid-02::before { content: "\f25e"; }
.sym-dots-grid-solid::before { content: "\f25f"; }
.sym-dots-grid::before { content: "\f260"; }
.sym-dots-horizontal-solid::before { content: "\f261"; }
.sym-dots-horizontal::before { content: "\f262"; }
.sym-dots-vertical-solid::before { content: "\f263"; }
.sym-dots-vertical::before { content: "\f264"; }
.sym-download-02-solid::before { content: "\f265"; }
.sym-download-02::before { content: "\f266"; }
.sym-download-cloud-02-solid::before { content: "\f267"; }
.sym-download-cloud-02::before { content: "\f268"; }
.sym-download-cloud-solid::before { content: "\f269"; }
.sym-download-cloud::before { content: "\f26a"; }
.sym-download-solid::before { content: "\f26b"; }
.sym-download::before { content: "\f26c"; }
.sym-drop-solid::before { content: "\f26d"; }
.sym-drop::before { content: "\f26e"; }
.sym-dropper-solid::before { content: "\f26f"; }
.sym-dropper::before { content: "\f270"; }
.sym-edit-02-solid::before { content: "\f271"; }
.sym-edit-02::before { content: "\f272"; }
.sym-edit-solid::before { content: "\f273"; }
.sym-edit::before { content: "\f274"; }
.sym-equal-not-solid::before { content: "\f275"; }
.sym-equal-not::before { content: "\f276"; }
.sym-equal-solid::before { content: "\f277"; }
.sym-equal::before { content: "\f278"; }
.sym-eraser-solid::before { content: "\f279"; }
.sym-eraser::before { content: "\f27a"; }
.sym-expand-02-solid::before { content: "\f27b"; }
.sym-expand-02::before { content: "\f27c"; }
.sym-expand-03-solid::before { content: "\f27d"; }
.sym-expand-03::before { content: "\f27e"; }
.sym-expand-solid::before { content: "\f27f"; }
.sym-expand::before { content: "\f280"; }
.sym-eye-off-solid::before { content: "\f281"; }
.sym-eye-off::before { content: "\f282"; }
.sym-eye-solid::before { content: "\f283"; }
.sym-eye::before { content: "\f284"; }
.sym-face-content-solid::before { content: "\f285"; }
.sym-face-content::before { content: "\f286"; }
.sym-face-frown-solid::before { content: "\f287"; }
.sym-face-frown::before { content: "\f288"; }
.sym-face-happy-solid::before { content: "\f289"; }
.sym-face-happy::before { content: "\f28a"; }
.sym-face-id-solid::before { content: "\f28b"; }
.sym-face-id::before { content: "\f28c"; }
.sym-face-neutral-solid::before { content: "\f28d"; }
.sym-face-neutral::before { content: "\f28e"; }
.sym-face-sad-solid::before { content: "\f28f"; }
.sym-face-sad::before { content: "\f290"; }
.sym-face-smile-solid::before { content: "\f291"; }
.sym-face-smile::before { content: "\f292"; }
.sym-face-wink-solid::before { content: "\f293"; }
.sym-face-wink::before { content: "\f294"; }
.sym-fast-backward-solid::before { content: "\f295"; }
.sym-fast-backward::before { content: "\f296"; }
.sym-fast-forward-solid::before { content: "\f297"; }
.sym-fast-forward::before { content: "\f298"; }
.sym-figma-solid::before { content: "\f299"; }
.sym-figma::before { content: "\f29a"; }
.sym-file-02-solid::before { content: "\f29b"; }
.sym-file-02::before { content: "\f29c"; }
.sym-file-03-solid::before { content: "\f29d"; }
.sym-file-03::before { content: "\f29e"; }
.sym-file-attachment-solid::before { content: "\f29f"; }
.sym-file-attachment::before { content: "\f2a0"; }
.sym-file-check-02-solid::before { content: "\f2a1"; }
.sym-file-check-02::before { content: "\f2a2"; }
.sym-file-check-solid::before { content: "\f2a3"; }
.sym-file-check::before { content: "\f2a4"; }
.sym-file-download-02-solid::before { content: "\f2a5"; }
.sym-file-download-02::before { content: "\f2a6"; }
.sym-file-download-solid::before { content: "\f2a7"; }
.sym-file-download::before { content: "\f2a8"; }
.sym-file-lock-solid::before { content: "\f2a9"; }
.sym-file-lock::before { content: "\f2aa"; }
.sym-file-minus-solid::before { content: "\f2ab"; }
.sym-file-minus::before { content: "\f2ac"; }
.sym-file-plus-solid::before { content: "\f2ad"; }
.sym-file-plus::before { content: "\f2ae"; }
.sym-file-shield-solid::before { content: "\f2af"; }
.sym-file-shield::before { content: "\f2b0"; }
.sym-file-solid::before { content: "\f2b1"; }
.sym-file::before { content: "\f2b2"; }
.sym-film-solid::before { content: "\f2b3"; }
.sym-film::before { content: "\f2b4"; }
.sym-filter-funnel-solid::before { content: "\f2b5"; }
.sym-filter-funnel::before { content: "\f2b6"; }
.sym-filter-lines-solid::before { content: "\f2b7"; }
.sym-filter-lines::before { content: "\f2b8"; }
.sym-fingerprint-02-solid::before { content: "\f2b9"; }
.sym-fingerprint-02::before { content: "\f2ba"; }
.sym-fingerprint-solid::before { content: "\f2bb"; }
.sym-fingerprint::before { content: "\f2bc"; }
.sym-flag-solid::before { content: "\f2bd"; }
.sym-flag::before { content: "\f2be"; }
.sym-flex-align-bottom-solid::before { content: "\f2bf"; }
.sym-flex-align-bottom::before { content: "\f2c0"; }
.sym-flex-align-left-solid::before { content: "\f2c1"; }
.sym-flex-align-left::before { content: "\f2c2"; }
.sym-flex-align-right-solid::before { content: "\f2c3"; }
.sym-flex-align-right::before { content: "\f2c4"; }
.sym-flex-align-top-solid::before { content: "\f2c5"; }
.sym-flex-align-top::before { content: "\f2c6"; }
.sym-flip-backward-solid::before { content: "\f2c7"; }
.sym-flip-backward::before { content: "\f2c8"; }
.sym-flip-forward-solid::before { content: "\f2c9"; }
.sym-flip-forward::before { content: "\f2ca"; }
.sym-folder-check-solid::before { content: "\f2cb"; }
.sym-folder-check::before { content: "\f2cc"; }
.sym-folder-closed-solid::before { content: "\f2cd"; }
.sym-folder-closed::before { content: "\f2ce"; }
.sym-folder-download-solid::before { content: "\f2cf"; }
.sym-folder-download::before { content: "\f2d0"; }
.sym-folder-lock-solid::before { content: "\f2d1"; }
.sym-folder-lock::before { content: "\f2d2"; }
.sym-folder-minus-solid::before { content: "\f2d3"; }
.sym-folder-minus::before { content: "\f2d4"; }
.sym-folder-plus-solid::before { content: "\f2d5"; }
.sym-folder-plus::before { content: "\f2d6"; }
.sym-folder-solid::before { content: "\f2d7"; }
.sym-folder::before { content: "\f2d8"; }
.sym-git-branch-solid::before { content: "\f2d9"; }
.sym-git-branch::before { content: "\f2da"; }
.sym-git-commit-solid::before { content: "\f2db"; }
.sym-git-commit::before { content: "\f2dc"; }
.sym-git-merge-solid::before { content: "\f2dd"; }
.sym-git-merge::before { content: "\f2de"; }
.sym-git-pull-request-solid::before { content: "\f2df"; }
.sym-git-pull-request::before { content: "\f2e0"; }
.sym-glasses-solid::before { content: "\f2e1"; }
.sym-glasses::before { content: "\f2e2"; }
.sym-globe-02-solid::before { content: "\f2e3"; }
.sym-globe-02::before { content: "\f2e4"; }
.sym-globe-03-solid::before { content: "\f2e5"; }
.sym-globe-03::before { content: "\f2e6"; }
.sym-globe-slated-02-solid::before { content: "\f2e7"; }
.sym-globe-slated-02::before { content: "\f2e8"; }
.sym-globe-slated-solid::before { content: "\f2e9"; }
.sym-globe-slated::before { content: "\f2ea"; }
.sym-globe-solid::before { content: "\f2eb"; }
.sym-globe::before { content: "\f2ec"; }
.sym-graduation-hat-02-solid::before { content: "\f2ed"; }
.sym-graduation-hat-02::before { content: "\f2ee"; }
.sym-graduation-hat-solid::before { content: "\f2ef"; }
.sym-graduation-hat::before { content: "\f2f0"; }
.sym-grid-02-solid::before { content: "\f2f1"; }
.sym-grid-02::before { content: "\f2f2"; }
.sym-grid-03-solid::before { content: "\f2f3"; }
.sym-grid-03::before { content: "\f2f4"; }
.sym-grid-dots-blank-solid::before { content: "\f2f5"; }
.sym-grid-dots-blank::before { content: "\f2f6"; }
.sym-grid-dots-bottom-solid::before { content: "\f2f7"; }
.sym-grid-dots-bottom::before { content: "\f2f8"; }
.sym-grid-dots-horizontal-center-solid::before { content: "\f2f9"; }
.sym-grid-dots-horizontal-center::before { content: "\f2fa"; }
.sym-grid-dots-left-solid::before { content: "\f2fb"; }
.sym-grid-dots-left::before { content: "\f2fc"; }
.sym-grid-dots-outer-solid::before { content: "\f2fd"; }
.sym-grid-dots-outer::before { content: "\f2fe"; }
.sym-grid-dots-right-solid::before { content: "\f2ff"; }
.sym-grid-dots-right::before { content: "\f300"; }
.sym-grid-dots-top-solid::before { content: "\f301"; }
.sym-grid-dots-top::before { content: "\f302"; }
.sym-grid-dots-vertical-center-solid::before { content: "\f303"; }
.sym-grid-dots-vertical-center::before { content: "\f304"; }
.sym-grid-solid::before { content: "\f305"; }
.sym-grid::before { content: "\f306"; }
.sym-hand-solid::before { content: "\f307"; }
.sym-hand::before { content: "\f308"; }
.sym-hard-drive-solid::before { content: "\f309"; }
.sym-hard-drive::before { content: "\f30a"; }
.sym-hash-solid::before { content: "\f30b"; }
.sym-hash::before { content: "\f30c"; }
.sym-heading-solid::before { content: "\f30d"; }
.sym-heading::before { content: "\f30e"; }
.sym-headphones-solid::before { content: "\f30f"; }
.sym-headphones::before { content: "\f310"; }
.sym-heart-solid::before { content: "\f311"; }
.sym-heart::before { content: "\f312"; }
.sym-hearts-solid::before { content: "\f313"; }
.sym-hearts::before { content: "\f314"; }
.sym-help-circle-solid::before { content: "\f315"; }
.sym-help-circle::before { content: "\f316"; }
.sym-home-line-solid::before { content: "\f317"; }
.sym-home-line::before { content: "\f318"; }
.sym-home-smile-solid::before { content: "\f319"; }
.sym-home-smile::before { content: "\f31a"; }
.sym-home-solid::before { content: "\f31b"; }
.sym-home::before { content: "\f31c"; }
.sym-hourglass-02-solid::before { content: "\f31d"; }
.sym-hourglass-02::before { content: "\f31e"; }
.sym-hourglass-solid::before { content: "\f31f"; }
.sym-hourglass::before { content: "\f320"; }
.sym-image-02-solid::before { content: "\f321"; }
.sym-image-02::before { content: "\f322"; }
.sym-image-check-solid::before { content: "\f323"; }
.sym-image-check::before { content: "\f324"; }
.sym-image-down-solid::before { content: "\f325"; }
.sym-image-down::before { content: "\f326"; }
.sym-image-indent-left-solid::before { content: "\f327"; }
.sym-image-indent-left::before { content: "\f328"; }
.sym-image-indent-right-solid::before { content: "\f329"; }
.sym-image-indent-right::before { content: "\f32a"; }
.sym-image-left-solid::before { content: "\f32b"; }
.sym-image-left::before { content: "\f32c"; }
.sym-image-plus-solid::before { content: "\f32d"; }
.sym-image-plus::before { content: "\f32e"; }
.sym-image-right-solid::before { content: "\f32f"; }
.sym-image-right::before { content: "\f330"; }
.sym-image-solid::before { content: "\f331"; }
.sym-image-up-solid::before { content: "\f332"; }
.sym-image-up::before { content: "\f333"; }
.sym-image-x-solid::before { content: "\f334"; }
.sym-image-x::before { content: "\f335"; }
.sym-image::before { content: "\f336"; }
.sym-inbox-02-solid::before { content: "\f337"; }
.sym-inbox-02::before { content: "\f338"; }
.sym-inbox-solid::before { content: "\f339"; }
.sym-inbox::before { content: "\f33a"; }
.sym-infinity-solid::before { content: "\f33b"; }
.sym-infinity::before { content: "\f33c"; }
.sym-info-circle-solid::before { content: "\f33d"; }
.sym-info-circle::before { content: "\f33e"; }
.sym-info-default-solid::before { content: "\f33f"; }
.sym-info-default::before { content: "\f340"; }
.sym-info-octagon-solid::before { content: "\f341"; }
.sym-info-octagon::before { content: "\f342"; }
.sym-info-square-solid::before { content: "\f343"; }
.sym-info-square::before { content: "\f344"; }
.sym-italic-solid::before { content: "\f345"; }
.sym-italic::before { content: "\f346"; }
.sym-key-solid::before { content: "\f347"; }
.sym-key::before { content: "\f348"; }
.sym-keyboard-solid::before { content: "\f349"; }
.sym-keyboard::before { content: "\f34a"; }
.sym-laptop-solid::before { content: "\f34b"; }
.sym-laptop::before { content: "\f34c"; }
.sym-layers-three-solid::before { content: "\f34d"; }
.sym-layers-three::before { content: "\f34e"; }
.sym-layers-two-solid::before { content: "\f34f"; }
.sym-layers-two::before { content: "\f350"; }
.sym-layout-alt-02-solid::before { content: "\f351"; }
.sym-layout-alt-02::before { content: "\f352"; }
.sym-layout-alt-03-solid::before { content: "\f353"; }
.sym-layout-alt-03::before { content: "\f354"; }
.sym-layout-alt-04-solid::before { content: "\f355"; }
.sym-layout-alt-04::before { content: "\f356"; }
.sym-layout-alt-solid::before { content: "\f357"; }
.sym-layout-alt::before { content: "\f358"; }
.sym-layout-bottom-solid::before { content: "\f359"; }
.sym-layout-bottom::before { content: "\f35a"; }
.sym-layout-grid-02-solid::before { content: "\f35b"; }
.sym-layout-grid-02::before { content: "\f35c"; }
.sym-layout-grid-solid::before { content: "\f35d"; }
.sym-layout-grid::before { content: "\f35e"; }
.sym-layout-left-solid::before { content: "\f35f"; }
.sym-layout-left::before { content: "\f360"; }
.sym-layout-right-solid::before { content: "\f361"; }
.sym-layout-right::before { content: "\f362"; }
.sym-layout-top-solid::before { content: "\f363"; }
.sym-layout-top::before { content: "\f364"; }
.sym-left-indent-solid::before { content: "\f365"; }
.sym-left-indent::before { content: "\f366"; }
.sym-letter-spacing-solid::before { content: "\f367"; }
.sym-letter-spacing::before { content: "\f368"; }
.sym-lightbulb-solid::before { content: "\f369"; }
.sym-lightbulb::before { content: "\f36a"; }
.sym-line-height-solid::before { content: "\f36b"; }
.sym-line-height::before { content: "\f36c"; }
.sym-link-02-solid::before { content: "\f36d"; }
.sym-link-02::before { content: "\f36e"; }
.sym-link-broken-02-solid::before { content: "\f36f"; }
.sym-link-broken-02::before { content: "\f370"; }
.sym-link-broken-solid::before { content: "\f371"; }
.sym-link-broken::before { content: "\f372"; }
.sym-link-external-solid::before { content: "\f373"; }
.sym-link-external::before { content: "\f374"; }
.sym-link-solid::before { content: "\f375"; }
.sym-link::before { content: "\f376"; }
.sym-list-solid::before { content: "\f377"; }
.sym-list::before { content: "\f378"; }
.sym-loading-02-solid::before { content: "\f379"; }
.sym-loading-02::before { content: "\f37a"; }
.sym-loading-solid::before { content: "\f37b"; }
.sym-loading::before { content: "\f37c"; }
.sym-lock-02-solid::before { content: "\f37d"; }
.sym-lock-02::before { content: "\f37e"; }
.sym-lock-solid::before { content: "\f37f"; }
.sym-lock-unlocked-02-solid::before { content: "\f380"; }
.sym-lock-unlocked-02::before { content: "\f381"; }
.sym-lock-unlocked-solid::before { content: "\f382"; }
.sym-lock-unlocked::before { content: "\f383"; }
.sym-lock::before { content: "\f384"; }
.sym-log-in-02-solid::before { content: "\f385"; }
.sym-log-in-02::before { content: "\f386"; }
.sym-log-in-solid::before { content: "\f387"; }
.sym-log-in::before { content: "\f388"; }
.sym-log-out-02-solid::before { content: "\f389"; }
.sym-log-out-02::before { content: "\f38a"; }
.sym-log-out-solid::before { content: "\f38b"; }
.sym-log-out::before { content: "\f38c"; }
.sym-mail-02-solid::before { content: "\f38d"; }
.sym-mail-02::before { content: "\f38e"; }
.sym-mail-solid::before { content: "\f38f"; }
.sym-mail::before { content: "\f390"; }
.sym-map-solid::before { content: "\f391"; }
.sym-map::before { content: "\f392"; }
.sym-mark-solid::before { content: "\f393"; }
.sym-mark::before { content: "\f394"; }
.sym-marker-pin-02-solid::before { content: "\f395"; }
.sym-marker-pin-02::before { content: "\f396"; }
.sym-marker-pin-solid::before { content: "\f397"; }
.sym-marker-pin::before { content: "\f398"; }
.sym-maximize-02-solid::before { content: "\f399"; }
.sym-maximize-02::before { content: "\f39a"; }
.sym-maximize-solid::before { content: "\f39b"; }
.sym-maximize::before { content: "\f39c"; }
.sym-menu-02-solid::before { content: "\f39d"; }
.sym-menu-02::before { content: "\f39e"; }
.sym-menu-03-solid::before { content: "\f39f"; }
.sym-menu-03::before { content: "\f3a0"; }
.sym-menu-04-solid::before { content: "\f3a1"; }
.sym-menu-04::before { content: "\f3a2"; }
.sym-menu-05-solid::before { content: "\f3a3"; }
.sym-menu-05::before { content: "\f3a4"; }
.sym-menu-solid::before { content: "\f3a5"; }
.sym-menu::before { content: "\f3a6"; }
.sym-message-alert-circle-solid::before { content: "\f3a7"; }
.sym-message-alert-circle::before { content: "\f3a8"; }
.sym-message-chat-circle-solid::before { content: "\f3a9"; }
.sym-message-chat-circle::before { content: "\f3aa"; }
.sym-message-circle-solid::before { content: "\f3ab"; }
.sym-message-circle::before { content: "\f3ac"; }
.sym-message-dots-circle-solid::before { content: "\f3ad"; }
.sym-message-dots-circle::before { content: "\f3ae"; }
.sym-message-notification-circle-solid::before { content: "\f3af"; }
.sym-message-notification-circle::before { content: "\f3b0"; }
.sym-message-notification-square-solid::before { content: "\f3b1"; }
.sym-message-notification-square::before { content: "\f3b2"; }
.sym-microphone-off-solid::before { content: "\f3b3"; }
.sym-microphone-off::before { content: "\f3b4"; }
.sym-microphone-solid::before { content: "\f3b5"; }
.sym-microphone::before { content: "\f3b6"; }
.sym-microscope-solid::before { content: "\f3b7"; }
.sym-microscope::before { content: "\f3b8"; }
.sym-minimize-02-solid::before { content: "\f3b9"; }
.sym-minimize-02::before { content: "\f3ba"; }
.sym-minimize-solid::before { content: "\f3bb"; }
.sym-minimize::before { content: "\f3bc"; }
.sym-minus-circle-solid::before { content: "\f3bd"; }
.sym-minus-circle::before { content: "\f3be"; }
.sym-minus-solid::before { content: "\f3bf"; }
.sym-minus-square-solid::before { content: "\f3c0"; }
.sym-minus-square::before { content: "\f3c1"; }
.sym-minus::before { content: "\f3c2"; }
.sym-modem-solid::before { content: "\f3c3"; }
.sym-modem::before { content: "\f3c4"; }
.sym-monitor-solid::before { content: "\f3c5"; }
.sym-monitor::before { content: "\f3c6"; }
.sym-mouse-solid::before { content: "\f3c7"; }
.sym-mouse::before { content: "\f3c8"; }
.sym-move-solid::before { content: "\f3c9"; }
.sym-move::before { content: "\f3ca"; }
.sym-navigation-pointer-02-solid::before { content: "\f3cb"; }
.sym-navigation-pointer-02::before { content: "\f3cc"; }
.sym-navigation-pointer-off-02-solid::before { content: "\f3cd"; }
.sym-navigation-pointer-off-02::before { content: "\f3ce"; }
.sym-navigation-pointer-off-solid::before { content: "\f3cf"; }
.sym-navigation-pointer-off::before { content: "\f3d0"; }
.sym-navigation-pointer-solid::before { content: "\f3d1"; }
.sym-navigation-pointer::before { content: "\f3d2"; }
.sym-notification-box-solid::before { content: "\f3d3"; }
.sym-notification-box::before { content: "\f3d4"; }
.sym-paint-pour-solid::before { content: "\f3d5"; }
.sym-paint-pour::before { content: "\f3d6"; }
.sym-paint-solid::before { content: "\f3d7"; }
.sym-paint::before { content: "\f3d8"; }
.sym-palette-solid::before { content: "\f3d9"; }
.sym-palette::before { content: "\f3da"; }
.sym-paperclip-solid::before { content: "\f3db"; }
.sym-paperclip::before { content: "\f3dc"; }
.sym-paragraph-spacing-solid::before { content: "\f3dd"; }
.sym-paragraph-spacing::before { content: "\f3de"; }
.sym-paragraph-wrap-solid::before { content: "\f3df"; }
.sym-paragraph-wrap::before { content: "\f3e0"; }
.sym-passcode-lock-solid::before { content: "\f3e1"; }
.sym-passcode-lock::before { content: "\f3e2"; }
.sym-passcode-solid::before { content: "\f3e3"; }
.sym-passcode::before { content: "\f3e4"; }
.sym-pencil-02-solid::before { content: "\f3e5"; }
.sym-pencil-02::before { content: "\f3e6"; }
.sym-pencil-line-solid::before { content: "\f3e7"; }
.sym-pencil-line::before { content: "\f3e8"; }
.sym-pencil-solid::before { content: "\f3e9"; }
.sym-pencil::before { content: "\f3ea"; }
.sym-perspective-solid::before { content: "\f3eb"; }
.sym-perspective::before { content: "\f3ec"; }
.sym-phone-02-solid::before { content: "\f3ed"; }
.sym-phone-02::before { content: "\f3ee"; }
.sym-phone-call-solid::before { content: "\f3ef"; }
.sym-phone-call::before { content: "\f3f0"; }
.sym-phone-hang-up-solid::before { content: "\f3f1"; }
.sym-phone-hang-up::before { content: "\f3f2"; }
.sym-phone-incoming-02-solid::before { content: "\f3f3"; }
.sym-phone-incoming-02::before { content: "\f3f4"; }
.sym-phone-incoming-solid::before { content: "\f3f5"; }
.sym-phone-incoming::before { content: "\f3f6"; }
.sym-phone-outgoing-02-solid::before { content: "\f3f7"; }
.sym-phone-outgoing-02::before { content: "\f3f8"; }
.sym-phone-outgoing-solid::before { content: "\f3f9"; }
.sym-phone-outgoing::before { content: "\f3fa"; }
.sym-phone-solid::before { content: "\f3fb"; }
.sym-phone::before { content: "\f3fc"; }
.sym-pin-02-solid::before { content: "\f3fd"; }
.sym-pin-02::before { content: "\f3fe"; }
.sym-pin-solid::before { content: "\f3ff"; }
.sym-pin::before { content: "\f400"; }
.sym-placeholder-solid::before { content: "\f401"; }
.sym-placeholder::before { content: "\f402"; }
.sym-plane-solid::before { content: "\f403"; }
.sym-plane::before { content: "\f404"; }
.sym-play-solid::before { content: "\f405"; }
.sym-play::before { content: "\f406"; }
.sym-plus-circle-solid::before { content: "\f407"; }
.sym-plus-circle::before { content: "\f408"; }
.sym-plus-solid::before { content: "\f409"; }
.sym-plus-square-solid::before { content: "\f40a"; }
.sym-plus-square::before { content: "\f40b"; }
.sym-plus::before { content: "\f40c"; }
.sym-podcast-solid::before { content: "\f40d"; }
.sym-podcast::before { content: "\f40e"; }
.sym-printer-solid::before { content: "\f40f"; }
.sym-printer::before { content: "\f410"; }
.sym-puzzle-piece-solid::before { content: "\f411"; }
.sym-puzzle-piece::before { content: "\f412"; }
.sym-qr-code-solid::before { content: "\f413"; }
.sym-qr-code::before { content: "\f414"; }
.sym-recording-solid::before { content: "\f415"; }
.sym-recording::before { content: "\f416"; }
.sym-reflect-solid::before { content: "\f417"; }
.sym-reflect::before { content: "\f418"; }
.sym-refresh-ccw-02-solid::before { content: "\f419"; }
.sym-refresh-ccw-02::before { content: "\f41a"; }
.sym-refresh-ccw-solid::before { content: "\f41b"; }
.sym-refresh-ccw::before { content: "\f41c"; }
.sym-repeat-solid::before { content: "\f41d"; }
.sym-repeat::before { content: "\f41e"; }
.sym-reverse-left-solid::before { content: "\f41f"; }
.sym-reverse-left::before { content: "\f420"; }
.sym-reverse-right-solid::before { content: "\f421"; }
.sym-reverse-right::before { content: "\f422"; }
.sym-right-indent-solid::before { content: "\f423"; }
.sym-right-indent::before { content: "\f424"; }
.sym-route-solid::before { content: "\f425"; }
.sym-route::before { content: "\f426"; }
.sym-rows-02-solid::before { content: "\f427"; }
.sym-rows-02::before { content: "\f428"; }
.sym-rows-03-solid::before { content: "\f429"; }
.sym-rows-03::before { content: "\f42a"; }
.sym-rows-solid::before { content: "\f42b"; }
.sym-rows::before { content: "\f42c"; }
.sym-ruler-solid::before { content: "\f42d"; }
.sym-ruler::before { content: "\f42e"; }
.sym-sale-solid::before { content: "\f42f"; }
.sym-sale::before { content: "\f430"; }
.sym-save-solid::before { content: "\f431"; }
.sym-save::before { content: "\f432"; }
.sym-scale-02-solid::before { content: "\f433"; }
.sym-scale-02::before { content: "\f434"; }
.sym-scale-03-solid::before { content: "\f435"; }
.sym-scale-03::before { content: "\f436"; }
.sym-scale-solid::before { content: "\f437"; }
.sym-scale::before { content: "\f438"; }
.sym-scan-solid::before { content: "\f439"; }
.sym-scan::before { content: "\f43a"; }
.sym-scissors-cut-solid::before { content: "\f43b"; }
.sym-scissors-cut::before { content: "\f43c"; }
.sym-scissors-solid::before { content: "\f43d"; }
.sym-scissors::before { content: "\f43e"; }
.sym-search-default-solid::before { content: "\f43f"; }
.sym-search-default::before { content: "\f440"; }
.sym-send-02-solid::before { content: "\f441"; }
.sym-send-02::before { content: "\f442"; }
.sym-send-03-solid::before { content: "\f443"; }
.sym-send-03::before { content: "\f444"; }
.sym-send-solid::before { content: "\f445"; }
.sym-send::before { content: "\f446"; }
.sym-server-solid::before { content: "\f447"; }
.sym-server::before { content: "\f448"; }
.sym-settings-02-solid::before { content: "\f449"; }
.sym-settings-02::before { content: "\f44a"; }
.sym-settings-solid::before { content: "\f44b"; }
.sym-settings::before { content: "\f44c"; }
.sym-share-02-solid::before { content: "\f44d"; }
.sym-share-02::before { content: "\f44e"; }
.sym-share-03-solid::before { content: "\f44f"; }
.sym-share-03::before { content: "\f450"; }
.sym-share-04-solid::before { content: "\f451"; }
.sym-share-04::before { content: "\f452"; }
.sym-share-05-solid::before { content: "\f453"; }
.sym-share-05::before { content: "\f454"; }
.sym-share-solid::before { content: "\f455"; }
.sym-share::before { content: "\f456"; }
.sym-shield-off-solid::before { content: "\f457"; }
.sym-shield-off::before { content: "\f458"; }
.sym-shield-solid::before { content: "\f459"; }
.sym-shield-tick-solid::before { content: "\f45a"; }
.sym-shield-tick::before { content: "\f45b"; }
.sym-shield::before { content: "\f45c"; }
.sym-shopping-bag-solid::before { content: "\f45d"; }
.sym-shopping-bag::before { content: "\f45e"; }
.sym-shuffle-solid::before { content: "\f45f"; }
.sym-shuffle::before { content: "\f460"; }
.sym-signal-solid::before { content: "\f461"; }
.sym-signal::before { content: "\f462"; }
.sym-skew-solid::before { content: "\f463"; }
.sym-skew::before { content: "\f464"; }
.sym-skip-back-solid::before { content: "\f465"; }
.sym-skip-back::before { content: "\f466"; }
.sym-skip-forward-solid::before { content: "\f467"; }
.sym-skip-forward::before { content: "\f468"; }
.sym-slash-circle-solid::before { content: "\f469"; }
.sym-slash-circle::before { content: "\f46a"; }
.sym-slash-divider-solid::before { content: "\f46b"; }
.sym-slash-divider::before { content: "\f46c"; }
.sym-slash-octagon-solid::before { content: "\f46d"; }
.sym-slash-octagon::before { content: "\f46e"; }
.sym-sliders-02-solid::before { content: "\f46f"; }
.sym-sliders-02::before { content: "\f470"; }
.sym-sliders-03-solid::before { content: "\f471"; }
.sym-sliders-03::before { content: "\f472"; }
.sym-sliders-solid::before { content: "\f473"; }
.sym-sliders::before { content: "\f474"; }
.sym-spacing-height-solid::before { content: "\f475"; }
.sym-spacing-height::before { content: "\f476"; }
.sym-spacing-width-solid::before { content: "\f477"; }
.sym-spacing-width::before { content: "\f478"; }
.sym-stand-solid::before { content: "\f479"; }
.sym-stand::before { content: "\f47a"; }
.sym-sticker-square-solid::before { content: "\f47b"; }
.sym-sticker-square::before { content: "\f47c"; }
.sym-stop-solid::before { content: "\f47d"; }
.sym-stop::before { content: "\f47e"; }
.sym-strikethrough-solid::before { content: "\f47f"; }
.sym-strikethrough::before { content: "\f480"; }
.sym-subscript-solid::before { content: "\f481"; }
.sym-subscript::before { content: "\f482"; }
.sym-switch-horizontal-solid::before { content: "\f483"; }
.sym-switch-horizontal::before { content: "\f484"; }
.sym-switch-vertical-solid::before { content: "\f485"; }
.sym-switch-vertical::before { content: "\f486"; }
.sym-table-solid::before { content: "\f487"; }
.sym-table::before { content: "\f488"; }
.sym-tablet-solid::before { content: "\f489"; }
.sym-tablet::before { content: "\f48a"; }
.sym-tag-solid::before { content: "\f48b"; }
.sym-tag::before { content: "\f48c"; }
.sym-telescope-solid::before { content: "\f48d"; }
.sym-telescope::before { content: "\f48e"; }
.sym-terminal-solid::before { content: "\f48f"; }
.sym-terminal-square-solid::before { content: "\f490"; }
.sym-terminal-square::before { content: "\f491"; }
.sym-terminal::before { content: "\f492"; }
.sym-text-input-solid::before { content: "\f493"; }
.sym-text-input::before { content: "\f494"; }
.sym-thumbs-down-solid::before { content: "\f495"; }
.sym-thumbs-down::before { content: "\f496"; }
.sym-thumbs-up-solid::before { content: "\f497"; }
.sym-thumbs-up::before { content: "\f498"; }
.sym-ticket-solid::before { content: "\f499"; }
.sym-ticket::before { content: "\f49a"; }
.sym-transform-solid::before { content: "\f49b"; }
.sym-transform::before { content: "\f49c"; }
.sym-translate-solid::before { content: "\f49d"; }
.sym-translate::before { content: "\f49e"; }
.sym-trash-solid::before { content: "\f49f"; }
.sym-trash::before { content: "\f4a0"; }
.sym-trophy-solid::before { content: "\f4a1"; }
.sym-trophy::before { content: "\f4a2"; }
.sym-type-solid::before { content: "\f4a3"; }
.sym-type-strikethrough-solid::before { content: "\f4a4"; }
.sym-type-strikethrough::before { content: "\f4a5"; }
.sym-type::before { content: "\f4a6"; }
.sym-underline-solid::before { content: "\f4a7"; }
.sym-underline::before { content: "\f4a8"; }
.sym-upload-02-solid::before { content: "\f4a9"; }
.sym-upload-02::before { content: "\f4aa"; }
.sym-upload-cloud-02-solid::before { content: "\f4ab"; }
.sym-upload-cloud-02::before { content: "\f4ac"; }
.sym-upload-cloud-solid::before { content: "\f4ad"; }
.sym-upload-cloud::before { content: "\f4ae"; }
.sym-upload-solid::before { content: "\f4af"; }
.sym-upload::before { content: "\f4b0"; }
.sym-user-check-solid::before { content: "\f4b1"; }
.sym-user-check::before { content: "\f4b2"; }
.sym-user-circle-solid::before { content: "\f4b3"; }
.sym-user-circle::before { content: "\f4b4"; }
.sym-user-down-solid::before { content: "\f4b5"; }
.sym-user-down::before { content: "\f4b6"; }
.sym-user-left-solid::before { content: "\f4b7"; }
.sym-user-left::before { content: "\f4b8"; }
.sym-user-right-solid::before { content: "\f4b9"; }
.sym-user-right::before { content: "\f4ba"; }
.sym-user-solid::before { content: "\f4bb"; }
.sym-user-up-solid::before { content: "\f4bc"; }
.sym-user-up::before { content: "\f4bd"; }
.sym-user-x-solid::before { content: "\f4be"; }
.sym-user-x::before { content: "\f4bf"; }
.sym-user::before { content: "\f4c0"; }
.sym-users-check-solid::before { content: "\f4c1"; }
.sym-users-check::before { content: "\f4c2"; }
.sym-users-down-solid::before { content: "\f4c3"; }
.sym-users-down::before { content: "\f4c4"; }
.sym-users-left-solid::before { content: "\f4c5"; }
.sym-users-left::before { content: "\f4c6"; }
.sym-users-minus-solid::before { content: "\f4c7"; }
.sym-users-minus::before { content: "\f4c8"; }
.sym-users-plus-solid::before { content: "\f4c9"; }
.sym-users-plus::before { content: "\f4ca"; }
.sym-users-right-solid::before { content: "\f4cb"; }
.sym-users-right::before { content: "\f4cc"; }
.sym-users-solid::before { content: "\f4cd"; }
.sym-users-up-solid::before { content: "\f4ce"; }
.sym-users-up::before { content: "\f4cf"; }
.sym-users-x-solid::before { content: "\f4d0"; }
.sym-users-x::before { content: "\f4d1"; }
.sym-users::before { content: "\f4d2"; }
.sym-variable-solid::before { content: "\f4d3"; }
.sym-variable::before { content: "\f4d4"; }
.sym-video-recorder-off-solid::before { content: "\f4d5"; }
.sym-video-recorder-off::before { content: "\f4d6"; }
.sym-video-recorder-solid::before { content: "\f4d7"; }
.sym-video-recorder::before { content: "\f4d8"; }
.sym-voicemail-solid::before { content: "\f4d9"; }
.sym-voicemail::before { content: "\f4da"; }
.sym-volume-max-solid::before { content: "\f4db"; }
.sym-volume-max::before { content: "\f4dc"; }
.sym-volume-min-solid::before { content: "\f4dd"; }
.sym-volume-min::before { content: "\f4de"; }
.sym-volume-minus-solid::before { content: "\f4df"; }
.sym-volume-minus::before { content: "\f4e0"; }
.sym-volume-plus-solid::before { content: "\f4e1"; }
.sym-volume-plus::before { content: "\f4e2"; }
.sym-volume-x-solid::before { content: "\f4e3"; }
.sym-volume-x::before { content: "\f4e4"; }
.sym-wallet-02-solid::before { content: "\f4e5"; }
.sym-wallet-02::before { content: "\f4e6"; }
.sym-wallet-03-solid::before { content: "\f4e7"; }
.sym-wallet-03::before { content: "\f4e8"; }
.sym-wallet-solid::before { content: "\f4e9"; }
.sym-wallet::before { content: "\f4ea"; }
.sym-webcam-solid::before { content: "\f4eb"; }
.sym-webcam::before { content: "\f4ec"; }
.sym-wifi-off-solid::before { content: "\f4ed"; }
.sym-wifi-off::before { content: "\f4ee"; }
.sym-wifi-solid::before { content: "\f4ef"; }
.sym-wifi::before { content: "\f4f0"; }
.sym-x-circle-solid::before { content: "\f4f1"; }
.sym-x-circle::before { content: "\f4f2"; }
.sym-x-close-solid::before { content: "\f4f3"; }
.sym-x-close::before { content: "\f4f4"; }
.sym-zap-solid::before { content: "\f4f5"; }
.sym-zap::before { content: "\f4f6"; }
.sym-zoom-in-solid::before { content: "\f4f7"; }
.sym-zoom-in::before { content: "\f4f8"; }
.sym-zoom-out-solid::before { content: "\f4f9"; }
.sym-zoom-out::before { content: "\f4fa"; }
.sym-calendar-date-number-solid::before { content: "\f4fb"; }
.sym-calendar-date-number::before { content: "\f4fc"; }
.sym-check-list-solid::before { content: "\f4fd"; }
.sym-check-list::before { content: "\f4fe"; }
.sym-clean-solid::before { content: "\f4ff"; }
.sym-clean::before { content: "\f500"; }
.sym-dot-list-solid::before { content: "\f501"; }
.sym-dot-list::before { content: "\f502"; }
.sym-dot-solid::before { content: "\f503"; }
.sym-dot::before { content: "\f504"; }
.sym-function-solid::before { content: "\f505"; }
.sym-function::before { content: "\f506"; }
.sym-heading-1-solid::before { content: "\f507"; }
.sym-heading-1::before { content: "\f508"; }
.sym-heading-2-solid::before { content: "\f509"; }
.sym-heading-2::before { content: "\f50a"; }
.sym-heading-3-solid::before { content: "\f50b"; }
.sym-heading-3::before { content: "\f50c"; }
.sym-heading-4-solid::before { content: "\f50d"; }
.sym-heading-4::before { content: "\f50e"; }
.sym-heading-5-solid::before { content: "\f50f"; }
.sym-heading-5::before { content: "\f510"; }
.sym-heading-6-solid::before { content: "\f511"; }
.sym-heading-6::before { content: "\f512"; }
.sym-number-list-solid::before { content: "\f513"; }
.sym-number-list::before { content: "\f514"; }
.sym-paragraph-solid::before { content: "\f515"; }
.sym-paragraph::before { content: "\f516"; }
.sym-quote-solid::before { content: "\f517"; }
.sym-quote::before { content: "\f518"; }
.sym-resize-handle-solid::before { content: "\f519"; }
.sym-resize-handle::before { content: "\f51a"; }
.sym-solid-solid::before { content: "\f51b"; }
.sym-solid-strikethrough-solid::before { content: "\f51c"; }
.sym-solid-strikethrough::before { content: "\f51d"; }
.sym-solid::before { content: "\f51e"; }
.sym-superscript-solid::before { content: "\f51f"; }
.sym-superscript::before { content: "\f520"; }
.sym-text-color-solid::before { content: "\f521"; }
.sym-text-color::before { content: "\f522"; }
.sym-Superscript::before { content: "\f523"; }
.sym-conference-solid::before { content: "\f524"; }
.sym-conference::before { content: "\f525"; }
.sym-crown-2-solid::before { content: "\f526"; }
.sym-crown-2::before { content: "\f527"; }
.sym-crown-solid::before { content: "\f528"; }
.sym-crown::before { content: "\f529"; }
.sym-interactive-solid::before { content: "\f52a"; }
.sym-interactive::before { content: "\f52b"; }
.sym-quiz-solid::before { content: "\f52c"; }
.sym-quiz::before { content: "\f52d"; }
.sym-scheduled-solid::before { content: "\f52e"; }
.sym-scheduled::before { content: "\f52f"; }
.sym-star-solid::before { content: "\f530"; }
.sym-star::before { content: "\f531"; }
.sym-user-edit-solid::before { content: "\f532"; }
.sym-user-edit::before { content: "\f533"; }
